<!-- <div id="stats" class="mod-messagestream-stats"> 
    {{#str}} statinfo, mod_messagestream, { "count_posts": {{ count_posts }}, "count_comments": {{ count_comments }} } {{/str}}
</div> -->
<div class="mod-messagestream-stream">
    <!--<h2>{{name}}</h2>
    <div class="description">{{{description}}}</div>-->

    {{{ messagestreamhtml }}}

</div>
