
<!--<div id="stats" class="mod-messagestream-stats">
    {{ string_stats }}
</div> -->
{{#showtabs}}
<div class="messagestream-tabs mb-3">
    <a href="{{tab_stream_url}}" class="btn btn-link{{#tab_stream_active}} fw-bold{{/tab_stream_active}}">{{tab_stream_label}}</a>
    <a href="{{tab_persona_url}}" class="btn btn-link{{#tab_persona_active}} fw-bold{{/tab_persona_active}}">{{tab_persona_label}}</a>
</div>
{{/showtabs}}
<div class="mod-messagestream-stream">
    <!--<h2>{{name}}</h2>
    <div class="description">{{{description}}}</div>-->

    {{{ mainhtml }}}

</div>
